@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,500;1,600;1,700&display=swap');
        h1 {
        color: #F4AFB4;
        }
        p, ul li {
        color: #C9C9C9;s
        }
        #meunome {
            font-family: 'Send Flowers', cursive;
            font-size: 50px;
            text-align: center;
            border-style: solid;
            border-color: rgb(92, 90, 90);
            border-bottom-width: 1px;
            border-top-width: 0;
            border-right-width: 0;
            border-left-width: 0;
            left: 450px;
            margin: 89px auto;
            width: 930px;
            position: absolute;
            z-index: 1;
        }
        .div0 {
            border: 1px solid black;
            left: 200px;
        }
        .fontesite {
            font-family: 'Cabin', sans-serif;
        }

        body {
            background-image: linear-gradient(20deg, #847b7a 0, #827473 25%, #806c6c 50%, #7e6466 75%, #7b5d61 100%);
        }
        .Lista1 {
        font-size: 16px;
        }   
        .Lista2 {
            font-size: 18px;
        }
        .Lista3 {
            font-size: 20px;
        }
        .Lista4 {
            font-size: 22px;
        }

        .Subtitulo {
            color: #5a7261;
        }

        #foto {
            border-radius: 80% 80%;
            position: absolute;
            left: 530px;
            padding: 1px;
            background-color: #F4AFB4;
            top: 350px;
        }

        .div1 {
            border: 0,8px solid rgb(51, 50, 49);
            height: 1160px;
            width: 930px;
            display: flex;
            flex-direction: row;
            margin: 70px auto;
            box-shadow: 10px 10px 10px 10px rgb(92, 90, 90);
            background-color: #888a8a;
        }

        .button1:hover {
            color: white;
            text-decoration: underline;
        }

        .button1 {
            color: #C9B7AD;
            background-color: #617266;
            padding: 5px;
            line-height: 50px;
            text-decoration: none;
            font-size: 20px;
        }
        #marcação {
            list-style-type: none;
            display: inline-flex;
            margin: 0px 1480px;
            padding: 10px;
        }
        .Link {
           color: #F4AFB4;
           text-decoration: none;
        }
        .Link:hover {
            color: #5a7261;
            text-decoration: underline;
        }
        div.Inicio {
            border: 1px solid rgb(77, 71, 71);
            height: 450px;
            text-align: center;
        }

        .descrição {
            left: 630px;
            position: absolute;
            text-align: justify;
            padding: 235px;
        }

        div.Habilidades {
            top: 670px;
            left: 480px;
            position: absolute;
        }

        div.Carreira {
            position: absolute;
            top: 970px;
            left: 670px;
            text-align:end;
        }
        
        #Carreira {
            position: absolute;
            top: 915px;
            left: 1150px;
        }

        #Trybe {
            position: absolute;
            top: 1115px;
            left: 480px;
        }
       
        div.Trybe {
            position: absolute;
            top: 1170px;
            left: 480px;   
        }

        
    
        