@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,500;1,600;1,700&display=swap');
        h1 {
        color: #F4AFB4;
        }
        p, ul li {
        color: #C9C9C9;s
        }
        #meunome {
            font-family: 'Send Flowers', cursive;
            font-size: 50px;
            text-align: center;
            border: 1px solid black;
        }

        .fontesite {
            font-family: 'Cabin', sans-serif;
        }

        body {
        background-color: #797D81;
        } 

        .Lista1 {
        font-size: 16px;
        }   
        .Lista2 {
            font-size: 18px;
        }
        .Lista3 {
            font-size: 20px;
        }
        .Lista4 {
            font-size: 22px;
        }

        .Subtitulo {
            color: #94A89A;
        }

        #foto {
            border-radius: 80% 80%;
            position: absolute;
            left: 450px;
            padding: 1px;
            background-color: #F4AFB4;
            top: 250px;
        }

        .div1 {
            border: 1px solid green;
            height: 1160px;
            width: 930px;
            display: flex;
            flex-direction: row;
            margin: 70px auto;
        }

        .button1:hover {
            color: white;
            text-decoration: underline;
        }

        .button1 {
            color: #C9B7AD;
            background-color: #5a6e61;
            padding: 5px;
            line-height: 50px;
            text-decoration: none;
            font-size: 20px;
        }
        #marcação {
            list-style-type: none;
            display: inline-flex;
            margin: 0px 1480px;
            padding: 10px;
        }
        .Link {
           color: #F4AFB4;
           text-decoration: none;
        }
        .Link:hover {
            color: #94A89A;
            text-decoration: underline;
        }
        div.Inicio {
            border: 1px solid rgb(77, 71, 71);
            height: 450px;
            text-align: center;
        }

        .descrição {
            left: 700px;
            position: absolute;
            text-align: justify;
            padding: 80px;
        }

        div.Habilidades {
            top: 600px;
            left: 350px;
            position: absolute;
        }

        div.Carreira {
            position: absolute;
            top: 900px;
            left: 670px;
            text-align:end;
        }
        
        #Carreira {
            position: absolute;
            top: 850px;
            left: 1150px;
        }

        #Trybe {
            position: absolute;
            top: 1050px;
            left: 350px;
        }
       
        div.Trybe {
            position: absolute;
            top: 1095px;
            left: 350px;   
        }

        
    
        